@font-face {
  font-family: Gilroy;
  src: url('/fonts/Gilroy-ExtraBold.eot');
  src: url('/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-light;
  src: url('/fonts/Gilroylight.ttf')
}

@font-face {
  font-family: OpenSans;
  src: url('/fonts/OpenSans-Light.ttf')
}

body {
  margin: 0;
  padding: 0;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.button {
	display: block;
	position: relative;
  margin: 0;
	padding: 0;
	width: 220px;
  font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	line-height: 40px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
	border: none;
	z-index: 1;
	background-color: transparent;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f0c52e;
  height: 4px;
  z-index: -1;
  transition: .15s;
}

.button:before {
	bottom: 50%;
}

.button:after {
	top: 50%;
}

.button:hover:before,
.button:hover:after {
  height: 20px;
}

.button:active {
  color: #a88a20;
}

/*ХЕДЕР СТАИЛ*/


.main-navigation-wrapper {
  padding: 25px 60px 50px 60px;

  background-color: #f7e296;
  background-image: linear-gradient(to bottom, #fff 42.5px, #f7e296 42.5px);
}

.header-logo {
  display: block;

  margin-bottom: 25px;
}

.header-logo img {
	width: 165px;
	height: 35px;
}

.header-logo:hover {
	opacity: 0.6;
}

.header-logo:active {
	opacity: 0.3;
}

.user-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 35px;
}

.user-navigation a {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}

.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:focus {
  opacity: 0.3;
}

.search-form {
  display: flex;
  box-sizing: border-box;

  margin-right: 140px;

	width: 440px;
	height: 50px;
}

.search-form input {
  font: inherit;
  color: #000;

  background-color: transparent;
  border: none;
}

.search-form img {
  margin-right: 20px;
}

.search-form input[type="search"] {
  flex-grow: 1;
}

.search-form input[type="search"]:focus {
  outline: none;
}

.search-form input[placeholder] {
  opacity: 0.3;
}

.search-form input[placeholder]:hover {
  opacity: 0.6;
}

.search-form input[placeholder]:focus {
  opacity: 1;
}

.search-form input[type="submit"] {
	padding: 0 20px;
}

.user-login {
  display: flex;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.user-nav-link {
	margin-left: 40px;
}

.login-link svg,
.user-nav-link svg {
	vertical-align: baseline;
	margin-right: 10px;
}

.site-navigation {
  display: flex;
  align-items: center;
	justify-content: space-between;
}

.catalog-button {
	padding: 0;
	display: flex;
	align-items: center;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: start;
  text-transform: uppercase;
  cursor: pointer;

  color: #000;

  border: none;
	background-color: transparent;
}

.catalog-button span {
	margin-right: 10px;
}

.catalog-button:hover span {
  opacity: 0.6;
}

.catalog-button:focus span {
  opacity: 0.3;
}

.service-list {
  display: flex;
  justify-content: space-between;
  width: 500px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list li:first-child {
  margin-right: 40px;
}

.service-list li:last-child {
  margin-left: auto;
}

.service-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #000;
}

.service-list a:hover {
  opacity: 0.6;
}

.service-list a:focus {
  opacity: 0.3;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	width: 555px;
	margin-top: 35px;
}

.catalog-list ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list ul li {
	margin-bottom: 5px;
}

.catalog-list ul li:last-child {
	margin-bottom: 0;
}

.catalog-list a {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}

.catalog-list a:hover {
  opacity: 0.6;
}

.catalog-list a:focus {
  opacity: 0.3;
}

.catalog-list {
	display: none;
}

/* MAIN STYLE */

/* СЕКЦИЯ СЛАЙДЕР */

.device-slider-wrapper {
	position: relative;
	min-height: 500px;
	margin-bottom: 80px;
	background-image: linear-gradient(to bottom, #f7e296 100px, #ffffff 100px);
}

.slider {
	position: absolute;
	display: none;
	padding-left: 600px;
	padding-right: 65px;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 10% 0px;
}

.slider-selfie {
	background-image: url('/img/slider-1.png');
}

.slider-fitness {
	background-image: url('/img/slider-2.png');
}

.slider-drone {
	background-image: url('/img/slider-3.png');
	background-position: 5% 50px;
}

.checked-slide {
	display: block;
}

.slider::after {
	content: '';
	position: absolute;
	top: -37px;
	right: 52px;

	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 180px;
	color: #ffffff;
}

.slider-selfie::after {
	content: '01';
}

.slider-fitness::after {
	content: '02';
}

.slider-drone::after {
	content: '03';
}

.slider h3 {
	position: relative;
	z-index: 1;
	margin: 0;
	margin-bottom: 35px;
	padding-top: 70px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
	line-height: 56px;
	color: #000;
}

.slider h3::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 7px;
	top: 30px;
	background-color: #fff;
}

.slider p {
	margin: 0;
	margin-bottom: 45px;
	line-height: 30px;
}

.slide-button {
	margin-bottom: 45px;
}

.slide-features th {
	padding-right: 70px;
  font-family: Gilroy-light, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slide-features td {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}


/* СЕКЦИЯ "КАТАЛОГ САЙТА" */


.device-catalog {
  margin-bottom: 80px;
}

.device-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.device-item {
  width: 160px;
}

.device-item a {
  display: block;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 35px;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.device-item:nth-child(1) svg {
  width: 97px;
  height: 55px;
}

.device-item:nth-child(2) svg {
  width: 86px;
  height: 117px;

  margin-top: auto;
}

.device-item:nth-child(3) svg {
  width: 71px;
  height: 87px;
}

.device-item:nth-child(4) svg {
  width: 107px;
  height: 65px;
}

.device-item:nth-child(5) svg {
  width: 56px;
  height: 98px;
}

.device-item:nth-child(6) svg {
  width: 132px;
  height: 69px;
}

.device-item:hover .svg-wrapper {
  background-color: #f0c52e;
}

.device-item a:active svg,
.device-item a:active span {
  opacity: .3;
}


/* СЕКЦИЯ "ДОСТАВКА/ГАРАНТИЯ/КРЕДИТ/" */


.services-review {
	margin-bottom: 100px;
	background-image: linear-gradient(to bottom, #fff 120px, #e5e5e5 120px);
}

.services-review .container {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

.services-control-wrapper {
	position: relative;
	min-height: 380px;
	padding-right: 125px;
}

.services-control-wrapper::before {
	content: '';
	position: absolute;
	width: 7px;
	height: 380px;
	top: -100px;
	right: 0;
	background-color: #000;
}

.service-select {
	position: relative;
	width: 160px;
	margin-bottom: 25px;
}

.service-select:last-child {
	margin-bottom: 0;
}

.service-select:active::before,
.service-select:active::after {
	width: 285px;
	height: 20px;
	background-color: #000;
}

.service-select:active {
  color: #f0c52e;
	outline: none;
}

.services-column-wrapper {
	position: relative;
}

.services-column {
	display: none;
	position: relative;
	top: -55px;
	min-height: 400px;
	padding-right: 340px;
	padding-top: 50px;
}

.services-column:nth-child(1) {
	background-image: url('/img/delivery.svg');
	background-repeat: no-repeat;
	background-position: 560px 60px;
}

.services-column:nth-child(2) {
	background-image: url('/img/warranty.svg');
	background-repeat: no-repeat;
	background-position: 560px 35px;
}

.services-column:nth-child(3) {
	background-image: url('/img/credit.svg');
	background-repeat: no-repeat;
	background-position: 560px 35px;
}

.selected-service {
	display: block;
}

.services-column h3 {
	margin: 0;
	margin-bottom: 25px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
	font-size: 47px;
	line-height: 47px;
	color: #000;
}

.services-column p {
	width: 420px;
	margin: 0;
	line-height: 30px;
}


/* СЕКЦИЯ "БРЕНДЫ" */


.brands {
  margin-bottom: 100px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-logo {
	filter: grayscale(1);
	opacity: 0.2;
}

.brand-logo:hover,
.brand-logo:active {
	filter: none;
	opacity: 1;
}


/* СЕКЦИЯ "О НАС/КОНТАКТЫ" */


.info-block {
  display: flex;
  justify-content: space-between;
}

.about-us-column,
.contacts-column {
  width: 560px;
}

.info-block h2 {
	margin: 0;
	margin-bottom: 40px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.info-block p {
	margin: 0;
	margin-bottom: 30px;
	line-height: 30px;
	width: 460px;
}

.about-us-column ul {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
  list-style: none;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.about-us-column ul li {
	position: relative;
	padding-left: 40px;
}

.about-us-column ul li::before {
	content: '';
	position: absolute;
	top: 16.5px;
	left: 0;
	width: 5px;
	height: 5px;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}

.info-block-button {
  width: 260px;
}

.contacts-column img {
	margin-bottom: 65px;
}


/* INNER PAGE */


.inner-page header {
  margin-bottom: 40px;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 60px;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.user-name {
  margin-right: 20px;
}

.login-out {
  opacity: 0.3;
}
.login-out:hover {
  opacity: 1;
}

.breadcrumbs {
  display: flex;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 20px;
}

.breadcrumbs a {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.inner-main-top {
  background-image: linear-gradient(to right, #dbdbdb 50%, #efefef 50%);
}

.inner-main-top .container {
  display: flex;
  align-items: center;
}

.special-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;


  min-height: 70px;

  background-color: #efefef;
}

.inner-main-top h2,
.inner-main-top h3 {
  margin: 0;
  padding: 0;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000;
}

.inner-main-top h2 {
  width: 270px;
  margin-left: 60px;

  text-align: start;
}

.special-background h3 {
  width: 160px;
  margin-left: 70px;

  text-align: start;
}

.filter-type-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-left: 40px;
  padding: 0;

  list-style: none;
}

.filter-type-list a {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  opacity: 0.3;
}

.filter-type-list a:hover {
  opacity: 0.6;
}

.filter-type-list a:active {
  opacity: 1;
}

.filter-type-list li {
  margin-right: 20px;
}

.filter-arrow {
  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.filter-arrow li {
  margin-left: 20px;
}

.filter-arrow svg {
  opacity: .2;
}
.filter-arrow a:hover svg {
  opacity: .4;
}
.filter-arrow a:active svg {
  opacity: 1;
}

.column-background {
  background-image: linear-gradient(to right, #efefef 50%, #fff 50%);
}

.column-background .container {
  display: flex;
}

.filters {
  width: 270px;
  margin-left: 60px;
}

.filter-color ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-bluetooth ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters legend {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-button {
  background-image: linear-gradient(to bottom, #efefef 40%, #f0c52e 40%, #f0c52e 60%, #efefef 60%);
}

.filter-button:hover {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
}


/* SECTION CATALOG */


.catalog {
  width: 830px;
  background-color: #fff;
}

.inner-catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;

  margin: 0;
  margin-top: 70px;
  margin-left: 70px;
  padding: 0;

  list-style: none;
}

.inner-catalog-list  li {
  margin-right: auto;
}

.inner-catalog-list  li:nth-child(2n) {
  margin-right: 0;
}

.catalog-item {
  margin-bottom: 40px;
  position: relative;
}

.catalog-item.new:after {
  content: 'new';
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 61px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #d6d6d6;
  border-radius: 50%;
  border: 2px solid#d6d6d6;
  font-family: Gilroy, Arial, sans-serif;
  font-style: 17px;
  /* opacity: 0.1; */
}

.catalog-item img {
  margin-bottom: 35px;
}

.catalog-item div {
  display: flex;
  justify-content: space-between;
}

.catalog-item-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  font-family: Gilroy-light, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.catalog-item:hover .catalog-item-hover {
  opacity: 1;
}

.catalog-item-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(238, 238, 238, .75);
  opacity: 0;
  text-align: center;
  transition: .2s;
}

.catalog-item-hover button {
  margin-bottom: 33px;
}

.catalog-item-hover a {
  font-size: 13px;
  color: #000;
  opacity: .5;
  transition: .2s;
}

.catalog-item-hover a:hover {
  opacity: 1;
}

.catalog-item .catalog-item-hover {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pagination-list {
  display: flex;
  align-items: center;

  width: 760px;
  min-height: 65px;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 70px;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination-list li {
}

.pagination-item-back {
  margin-left: 30px;
  margin-right: auto;
}

.pagination-item-next {
  margin-right: 30px;
  margin-left: auto;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item-back a:hover,
.pagination-item-next a:hover {
  background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-next a:active {
  opacity: 0.3;
  background-color: #d9d9d9;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-item-current a {
  opacity: 1;
}

/* FOOTER STYLE */

footer {
  margin-top: 80px;
  padding-top: 65px;
  padding-bottom: 65px;

  background-color: #464646;
}

.inner-page footer {
  margin-top: 0;
}

footer .login-link svg,
footer .user-nav-link svg {
	fill: #ffc600;
}

footer .login-link,
footer .user-nav-link,
footer .user-name {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  color: #c8c8c8;
}

footer .login-link:hover,
footer .user-nav-link:hover,
footer .user-name:hover {
  opacity: 0.7;
}

footer .login-link:active,
footer .user-nav-link:active,
footer .user-name:active {
  opacity: 0.3;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.footer-top a {
  text-align: end;
}

.footer-logo {
  width: 160px;
  height: 35px;
  margin-right: auto;
}

.footer-logo svg {
  fill: #ffc600;
}

.footer-logo:hover svg {
  opacity: 0.6;
}

.footer-logo:active svg {
  opacity: 0.3;
}

footer .user-login {
  margin-right: 0;
} 

.inner-page .login-link {
  opacity: 0.3;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 65px;
}

footer address {
  font-style: normal;
  color: #c8c8c8;
}

.footer-service-list {
  display: flex;
  justify-content: space-between;

  width: 500px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-service-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.footer-service-list a:hover {
  opacity: 0.6;
}

.footer-service-list a:active {
  opacity: 0.3;
}

.phone-number {
  margin: 0;
  padding-top: 0;
  color: #c8c8c8;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0px;
}

.footer-bot ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 160px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: block;
}

.social-button svg {
  opacity: 0.6;
}

.social-button:hover svg {
  opacity: 0.3;
}

.social-button:active svg {
  opacity: 0.1;
}


/* MODAL SECTION */


.modal {
	position: fixed;
	z-index: 2;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
	line-height: 24px;
	color: #000;
	
	background-color: #fff;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
}

.modal-feed-back {
	top: 50%;
	left: 50%;

	display: none;

	width: 760px;
	margin-left: -480px;
	margin-top: -285px;
	padding: 95px 100px 75px 100px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 54px;
	height: 54px;
	padding: 0;

  font-size: 0;

  background-color: #f7e296;
	border: 0;
	border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -15px;

  width: 30px;
  height: 2px;

  background-color: #fff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form p {
	margin: 0;
}

.feedback-form label {
	display: block;
	margin-bottom: 10px;
}

.feedback-form-wrapper:first-child {
	display: flex;
	justify-content: space-between;

	margin-bottom: 35px;
}

.feedback-form-wrapper:last-child p {
	margin-bottom: 35px;
}

.feedback-form-wrapper:first-child input[type="text"],
.feedback-form-wrapper:last-child textarea {
	box-sizing: border-box;
	padding: 18px 20px;

	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;

	border: none;
	background-color: #f2f2f2;
}

.feedback-form-wrapper:first-child input[type="text"] {
	width: 360px;
}

.feedback-form-wrapper:last-child textarea {
	width: 100%;
	resize: none;
}

.modal-map {
	top: 50%;
	left: 50%;

	display: none;

	width: 960px;
	height: 560px;
	margin-top: -280px;
	margin-left: -480px;
}

.modal-map img {
	width: 100%;
}

.modal-map p {
	margin: 0;
}

.modal-map .modal-close {
	opacity: .5;
}