@font-face {
  font-family: Gilroy;
  src: url('/fonts/Gilroyextrabold.ttf')
}

@font-face {
  font-family: Gilroy-light;
  src: url('/fonts/Gilroylight.ttf')
}

@font-face {
  font-family: OpenSans;
  src: url('/fonts/OpenSans-Light.ttf')
}

body {
  margin: 0;
  padding: 0;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  border: none;

  background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
}

.button:hover {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
}

.button:active {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
  opacity: 0.3;
}

.main-navigation-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 50px 50px 50px;

  background-color: #f7e296;
  background-image: linear-gradient(to bottom, #ffffff 42.5px, #f7e296 42.5px);
}

.header-logo {
  width: 160px;
  height: 35px;

  margin-bottom: 35px;
}

.user-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.user-navigation a {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:focus {
  opacity: 0.3;
}

.search-form {
  display: flex;
  box-sizing: border-box;
  margin-right: 140px;

  width: 400px;
}

.user-navigation input {
  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-form img {
  margin-right: 20px;
}

input[type="search"] {
  flex-grow: 1;
}

input[type="search"]:focus {
  outline: none;
}

input[placeholder] {
  opacity: 0.3;
}

input[placeholder]:hover {
  opacity: 0.6;
}

input[placeholder]:focus {
  opacity: 1;
}

.user-login {
  min-width: 100px;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.login-out {
  opacity: 0.3;
}
.login-out:hover {
  opacity: 1;
}

.user-nav-link {
  width: 100px;
  margin-left: 20px;
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-button {
  width: 250px;
  padding: 0;

  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: start;
  text-transform: uppercase;

  color: #000000;

  border: none;
  background-color: transparent;
}

.catalog-button:hover {
  opacity: 0.6;
}

.catalog-button:focus {
  opacity: 0.3;
}

.service-list {
  display: flex;
  justify-content: space-between;
  width: 500px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list li:first-child {
  margin-right: 40px;
}

.service-list li:last-child {
  margin-left: auto;
}

.service-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #000000;
}

.service-list a:hover {
  opacity: 0.6;
}

.service-list a:focus {
  opacity: 0.3;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list a {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.catalog-list a:hover {
  opacity: 0.6;
}

.catalog-list a:focus {
  opacity: 0.3;
}

/* MAIN STYLE */

.slider-wrapper {
  padding: 0 50px;
  margin-bottom: 80px;

  background-image: linear-gradient(to bottom, #f7e296 100px, #ffffff 100px);
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-column {
  width: 560px;
  padding-top: 80px;
}

.device-slider h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.slide-button {
  width: 220px;
}

.slide-features th {
  font-family: Gilroy-light, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slide-features td {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.device-catalog {
  margin-bottom: 80px;
}

.device-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.device-item {
  width: 160px;
}

.device-item a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.device-item a::before {
  content: '';
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  padding: 0;
  background-color: #f7e296;
}

.device-item:nth-child(1) a::before {
  background-image: url('/img/popular-1.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.device-item:nth-child(2) a::before {
  background-image: url('/img/popular-2.svg');
  background-position: 50% 43px;
  background-repeat: no-repeat;
}

.device-item:nth-child(3) a::before {
  background-image: url('/img/popular-3.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.device-item:nth-child(4) a::before {
  background-image: url('/img/popular-4.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.device-item:nth-child(5) a::before {
  background-image: url('/img/popular-5.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.device-item:nth-child(6) a::before {
  background-image: url('/img/popular-6.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.device-item:hover a::before {
  background-color: #f0c52e;
}

.services-review {
  margin-bottom: 100px;
}

.services-review ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-select {
  width: 160px;

  background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  background-color: #ffffff;
}

.service-select:hover {
  color: #f0c52e;

  background-image: none;
  background-color: #000000;
}

.service-option h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
}

.brands {
  margin-bottom: 100px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-block {
  display: flex;
  justify-content: space-between;
}

.about-us-column,
.contacts-column {
  width: 560px;
}

.info-block h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us-column ul {
  list-style: none;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.info-block-button {
  width: 260px;
}

.inner-page h1 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-current {
  opacity: 0.6;
}

.catalog-form ul {
  list-style: none;
}

.catalog-form label {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filters h2,
.catalog h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.filters legend {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.filters fieldset {
  border: none;
}

.filter-button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 5px;

  display: flex;
  box-sizing: border-box; 
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 40px;

  border: none;
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
}

.filter-button:hover {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
}

.filter-type-list,
.filter-arrow {
  list-style: none;
}

.filter-type-list a {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.filter-type-list a:hover {
  opacity: 0.6;
}

.filter-type-list a:active {
  opacity: 1;
}

.inner-catalog-list {
  list-style: none;;
}

.catalog-item-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  font-family: Gilroy-light, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.pagination-list {
  list-style: none;

  background-color: #ebebeb;
}

.pagination-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item-back a:hover,
.pagination-item-next a:hover {
  background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-next a:active {
  opacity: 0.3;
  background-color: #d9d9d9;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-item-current a {
  opacity: 1;
}

/* FOOTER STYLE */

footer {
  margin-top: 80px;
  padding-top: 65px;
  padding-bottom: 65px;

  background-color: #464646;
}

footer .login-link,
footer .user-nav-link,
footer .user-name {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #c8c8c8;
}

footer .login-link:hover,
footer .user-nav-link:hover,
footer .user-name:hover {
  opacity: 0.7;
}

footer .login-link:active,
footer .user-nav-link:active,
footer .user-name:active {
  opacity: 0.3;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.footer-top a {
  text-align: center;
}

.footer-logo {
  width: 160px;
  height: 35px;
  margin-right: auto;
}

.footer-logo svg {
  fill: #ffc600;
}

.footer-logo:hover svg {
  opacity: 0.6;
}

.footer-logo:active svg {
  opacity: 0.3;
}

footer .user-login {
  margin-right: 0;
} 

.inner-page .login-link {
  opacity: 0.3;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 65px;
}

footer address {
  font-style: normal;
  color: #c8c8c8;
}

.footer-service-list {
  display: flex;
  justify-content: space-between;

  width: 500px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-service-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 5px;
}

.footer-service-list a:hover {
  opacity: 0.6;
}

.footer-service-list a:active {
  opacity: 0.3;
}

.phone-number {
  margin: 0;
  padding-top: 0;
  color: #c8c8c8;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0px;
}

.footer-bot ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 160px;
  margin: 0;
  padding: 0;
}

.social-button svg {
  opacity: 0.6;
}

.social-list-item:hover svg {
  opacity: 0.3;
}

.social-list-item:active svg {
  opacity: 0.1;
}

.modal-write-us label {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.modal-button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 5px;

  display: flex;
  box-sizing: border-box; 
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 40px;

  border: none;
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
}

.modal-button:hover {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
}